<footer>
    <div class="container-fluid" id="ayudaInform">
        <div class="row">
            <div class="col-md-3 offset-md-1" id="ayuda">

                <h5>¿ NECESITAS AYUDA ?</h5>
                <br>
                <h6>0264 123 4567</h6>
                <h6>enquiry@geekshubtravels.com</h6>
                <br>
                <p>Lun-Vie: 9:30-19:00 Sab:10:00-14:00</p>
            </div>

            <div class="col-md-3 offset-md-1" id="informacion">

                <h5>INFORMACIÓN</h5>
                <ul>
                    <li><a href="#"> Quienes somos</a></li>
                    <li><a href="#">Preguntas frecuentes</a></li>
                    <li><a href="#">Politica de privacidad</a></li>
                    <li><a href="#">Condiciones generales</a></li>
                    <li><a href="#">Aviso legal</a></li>
                    <li><a href="#">Contacto</a></li>
                    <li><a href="#">Programa de puntos</a></li>
                </ul>
            </div>

            <div class="col-md-3 offset-md-1" id="newsletter">
                <form action="#">
                    <fieldset>
                        <h5>SUSCRIBETE A LA NEWSLETTER</h5>
                        <br>
                        <input type="email" id="email" placeholder="Correo electronico"><br>
                        <br>
                        <input type="button" class="btn btn-warning btn-lg" value="Suscribete">
                    </fieldset>
                </form>
            </div>
        </div>
        <div id="redesSocial2">
            <br style="clear: both">
            <div class="row">
                <div class="col-12">
                    <ul>
                        <li><a href="#" class="badge badge-pill badge-primary"><i class="fab fa-twitter fa-2x"></i></a>
                        </li>
                        <li><a href="#" class="badge badge-pill badge-success"><i class="fab fa-whatsapp fa-2x"></i></a>
                        </li>
                        <li><a href="#" class="badge badge-pill badge-primary"><i
                                class="fab fa-facebook-f fa-2x"></i></a></li>
                        <li><a href="#" class="badge badge-pill badge-info"><i class="fab fa-instagram fa-2x"></i></a>
                        </li>
                        <li><a href="#" class="badge badge-pill badge-primary"><i class="fab fa-linkedin-in fa-2x"></i></a>
                        </li>
                        <li><a href="#" class="badge badge-pill badge-danger"><i class="fab fa-youtube fa-2x"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <br style="clear: both">
        </div>
        <div class="row" id="pie">
            <div class="col-md-6 offset-md-3">
                <p> GeeksHubs Travels 2018 Todos los derechos reservados</p>
            </div>
        </div>
    </div>
</footer>
