<div class="row fondo404">
    <div class="col-lg-8 offset-lg-2 texto404">
        <h1>Página no encontrada</h1>
        <br>
        <a class="btn btn-outline-secondary boton-home" href="/">Volver a inicio</a>
    </div>

</div>