{{#if logeado}}
    <p class="alert alert-info bienvenido">Bienvenido a la página {{usuario}}</p>
{{/if}}

<section>
    <div id="destinos">
        <div class="container-fluid contenedor-destinos">
            <div class="row fila-destinos d-none d-sm-none d-md-none d-lg-flex d-xl-flex">
                <div class="col-md-6 col-lg-4 col-xl-4 columna-ultimahora">
                    <div class="d-flex flex-column destino">
                        <div class="destino-malta"></div>
                        <div class=""><h4>Malta al completo</h4></div>
                        <div class=""><strong>Estancia</strong></div>
                        <div class=""><span class="descripcion">Vuelo + Alojamiento + 4 Desayunos + Guía Turistica</span></div>
                        <div class="p-3 align-items-center justify-content-end reservar">
                            <span class="precio">desde<strong>799€</strong><a href="#destinos" class="btn btn-warning ">RESERVAR</a></span>
                        </div>
                    </div>

                </div>
                <div class="col-md-6 col-lg-4 col-xl-4 columna-ultimahora">

                    <div class="d-flex flex-column destino">
                        <div class="destino-london"></div>
                        <div class=""><h4>London visita guiada</h4></div>
                        <div class=""><strong>Estancia y Vuelo</strong></div>
                        <div class=""><span class="descripcion">Vuelo + Alojamiento + 4 Desayunos + Guía Turistica</span></div>
                        <div class="p-3 align-items-center justify-content-end reservar">
                            <span class="precio">desde<strong>500€</strong><a href="#destinos" class="btn btn-warning">RESERVAR</a></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-4 columna-ultimahora">
                    <div class="d-flex flex-column destino">
                        <div class="destino-dublin"></div>
                        <div class=""><h4>Conoce los mejores lugares de Dublin</h4></div>
                        <div class=""><strong>Visita guiada</strong></div>
                        <div class=""><span class="descripcion">Vuelo + Alojamiento + 4 Desayunos + Guía Turistica</span></div>
                        <div class="p-3 align-items-center justify-content-end reservar">
                            <span class="precio">desde<strong>720€</strong><a href="#destinos" class="btn btn-warning">RESERVAR</a></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row fila-destinos d-none d-sm-none d-md-none d-lg-flex d-xl-flex ">
                <div class="col-md-6 col-lg-4 col-xl-4 columna-ultimahora">
                    <div class="d-flex flex-column destino">
                        <div class="destino-paris"></div>
                        <div class=""><h4>Paris , la cuidad bella de Francia</h4></div>
                        <div class=""><strong>Estancia + Vuelo</strong></div>
                        <div class=""><span class="descripcion">Vuelo + Alojamiento + 4 Desayunos + Guía Turistica</span></div>
                        <div class="p-3 align-items-center justify-content-end reservar">
                            <span class="precio">desde<strong>1175€</strong><a href="#destinos" class="btn btn-warning">RESERVAR</a></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-4 columna-ultimahora">
                    <div class="d-flex flex-column destino">
                        <div class="destino-amsterdam"></div>
                        <div class=""><h4>¿Quieres conocer Amsterdam?</h4></div>
                        <div class=""><strong>Estancia</strong></div>
                        <div class=""><span class="descripcion">Vuelo + Alojamiento + 4 Desayunos + Guía Turistica</span></div>
                        <div class="p-3 align-items-center justify-content-end reservar">
                            <span class="precio">desde<strong>820€</strong><a href="#destinos" class="btn btn-warning">RESERVAR</a></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-4 columna-ultimahora">
                    <div class="d-flex flex-column destino">
                        <div class="destino-rome"></div>
                        <div class=""><h4>Italia , el pais de la comida</h4></div>
                        <div class=""><strong>Estancia</strong></div>
                        <div class=""><span
                                class="descripcion">Vuelo + Alojamiento + 4 Desayunos + Guía Turistica</span></div>
                        <div class="p-3 align-items-center justify-content-end reservar">
                            <span class="precio">desde<strong>777€</strong><a href="#destinos" class="btn btn-warning">RESERVAR</a></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row fila-destinos d-flex d-sm-flex d-md-flex d-lg-none d-xl-none">
                <div class="col-12">
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="d-flex flex-column destino">
                                    <div class="destino-malta"></div>
                                    <div class=""><h4>Malta al completo</h4></div>
                                    <div class=""><strong>Estancia</strong></div>
                                    <div class=""><span class="descripcion">Vuelo + Alojamiento + 4 Desayunos + Guía Turistica</span>
                                    </div>
                                    <div class="p-3 align-items-center justify-content-end reservar">
                                        <span class="precio">desde<strong>799€</strong><a href="#destinos" class="btn btn-warning">RESERVAR</a></span></div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="d-flex flex-column destino">
                                    <div class="destino-london"></div>
                                    <div class=""><h4>London visita guiada</h4></div>
                                    <div class=""><strong>Estancia y Vuelo</strong></div>
                                    <div class=""><span class="descripcion">Vuelo + Alojamiento + 4 Desayunos + Guía Turistica</span>
                                    </div>
                                    <div class="p-3 align-items-center justify-content-end reservar">
                                        <span class="precio">desde<strong>500€</strong><a href="#destinos" class="btn btn-warning">RESERVAR</a></span></div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="d-flex flex-column destino">
                                    <div class="destino-dublin"></div>
                                    <div class=""><h4>Conoce la ciudad de Dublin</h4></div>
                                    <div class=""><strong>Visita guiada</strong></div>
                                    <div class=""><span class="descripcion">Vuelo + Alojamiento + 4 Desayunos + Guía Turistica</span>
                                    </div>
                                    <div class="p-3 align-items-center justify-content-end reservar">
                                        <span class="precio">desde<strong>720€</strong><a href="#destinos" class="btn btn-warning">RESERVAR</a></span></div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="d-flex flex-column destino">
                                    <div class="destino-paris"></div>
                                    <div class=""><h4>Paris , la cuidad bella de Francia</h4></div>
                                    <div class=""><strong>Estancia + Vuelo</strong></div>
                                    <div class=""><span class="descripcion">Vuelo + Alojamiento + 4 Desayunos + Guía Turistica</span>
                                    </div>
                                    <div class="p-3 align-items-center justify-content-end reservar">
                                        <span class="precio">desde<strong>1175€</strong><a href="#destinos" class="btn btn-warning">RESERVAR</a></span></div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="d-flex flex-column destino">
                                    <div class="destino-amsterdam"></div>
                                    <div class=""><h4>¿Quieres conocer Amsterdam?</h4></div>
                                    <div class=""><strong>Estancia</strong></div>
                                    <div class=""><span class="descripcion">Vuelo + Alojamiento + 4 Desayunos + Guía Turistica</span>
                                    </div>
                                    <div class="p-3 align-items-center justify-content-end reservar">
                                        <span class="precio">desde<strong>820€</strong><a href="#destinos" class="btn btn-warning">RESERVAR</a></span></div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="d-flex flex-column destino">
                                    <div class="destino-rome"></div>
                                    <div class=""><h4>Italia , el pais de la comida</h4></div>
                                    <div class=""><strong>Estancia</strong></div>
                                    <div class=""><span class="descripcion">Vuelo + Alojamiento + 4 Desayunos + Guía Turistica</span>
                                    </div>
                                    <div class="p-3 align-items-center justify-content-end reservar">
                                        <span class="precio">desde<strong>777€</strong><a href="#destinos" class="btn btn-warning">RESERVAR</a></span></div>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
                           data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button"
                           data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class ="row" id="somos">
        <div class="col-10 col-sm-4 offset-1" id="quienes_somos">
            <h1>Quienes somos</h1>
            <hr>
            <p><i>GeeksHubs Travels es una agencia de viajes online creada e 2009 por un equipo de profecionales y entusiastas que deciden hacer de su pasión por conocer el mundo para 2018 seremos la agencia de viajes preferida por nuestros clientes por seguridad y conpromiso de nuestro personal.</i></p>
        </div>

    </div>
</section>
<section>
    <div class="wrapper-contacto" id="Estamos">
        <div class="row">
            <div class="col-lg-5 offset-lg-1 col-md-8 offset-md-2 mapa">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1539.7225968345203!2d-0.3570209322480286!3d39.48186084048991!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd604898947abad3%3A0x5aae0e0b7fa0358a!2sGeeksHubs+Space+Valencia!5e0!3m2!1ses-419!2ses!4v1521586091457" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="col-lg-4 offset-lg-1 col-md-8 offset-md-2 formulario">
                <p>E: inquiry@artiotravel.com</p>

                <p>P: 0264 123 4567</p>

                <p>Llámanos o visítanos con tus preguntas, estamos dispuestos y disponibles a responder
                    cualquier pregunta en 24 horas durante días laborales.</p>
                <hr class="hr-contact"/>
                <form class="form-contact">
                    <div class="row">
                        <div class="col">
                            <input type="text" class="form-control" id="inputName" placeholder="Nombre">
                        </div>
                        <div class="col">
                            <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input type="text" class="form-control" id="inputPhone" placeholder="Telefono">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" id="inputCountry" placeholder="Pais">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <textarea class="form-control" id="inputTextarea" rows="3"></textarea>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-warning btn-lg submit">Enviar</button>
                </form>

            </div>
        </div>
    </div>

</section>
